<div class="socialmedia">
    <div class="wrapper-facebook"><script type="text/javascript">
        //<![CDATA[
        (function() {
            document.write('<fb:like href="#" layout="button_count" show_faces="false" width="160"></fb:like>');
            var s = document.createElement('SCRIPT'), s1 = document.getElementsByTagName('SCRIPT')[0];
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'http://connect.facebook.net/es_ES/all.js#xfbml=1';
            s1.parentNode.insertBefore(s, s1);
        })();
        //]]>
        </script></div>
    <div class="wrapper-twitter"><script type="text/javascript">
        //<![CDATA[
        (function() {
            document.write('<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="YourTwitter">Tweet</a>');
            var s = document.createElement('SCRIPT'), s1 = document.getElementsByTagName('SCRIPT')[0];
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'http://platform.twitter.com/widgets.js';
            s1.parentNode.insertBefore(s, s1);
        })();
        //]]>
        </script></div>
    <div class="wrapper-comentarios"><p id="ajaxCommentsCounter">0</p></div>
</div>