<table class="tx-icticontent" >
	<tr>
		<td>
			<f:translate key="tx_icticontent_domain_model_content.name" />
		</td>
		<td>
			{content.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_icticontent_domain_model_content.content_type" />
		</td>
		<td>
			{content.contentType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_icticontent_domain_model_content.short" />
		</td>
		<td>
			{content.short}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_icticontent_domain_model_content.description" />
		</td>
		<td>
			{content.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_icticontent_domain_model_content.front_image" />
		</td>
		<td>
			{content.frontImage}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_icticontent_domain_model_content.images" />
		</td>
		<td>
			{content.images}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_icticontent_domain_model_content.start_date" />
		</td>
		<td>
			{content.startDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_icticontent_domain_model_content.end_date" />
		</td>
		<td>
			{content.endDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_icticontent_domain_model_content.city" />
		</td>
		<td>
			{content.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_icticontent_domain_model_content.highlight" />
		</td>
		<td>
			{content.highlight}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_icticontent_domain_model_content.images_captions" />
		</td>
		<td>
			{content.imagesCaptions}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_icticontent_domain_model_content.images_alt_text" />
		</td>
		<td>
			{content.imagesAltText}
		</td>
	</tr>
</table>