{namespace ficti=Tx_Ictiextbase_ViewHelpers}
<f:layout name="Default" />


<f:section name="main">
    
	
    <div class="wrapper_csc">
        <div class="cajadestacados color1">
            <div class="retroceder_mes"> 
				<div class="botoncolorido"><div class="enlace"><f:link.action action="calendar" arguments="{filterYear : prevYear, filterMonth : prevMonth}" 
							   title="{f:translate(key:'goPrevMonth')}">
					&laquo;&nbsp;{f:translate(key:'goPrevMonth')}
				</f:link.action></div></div>
			</div>
		<div class="mes_actual">
		<h4><span class="capitaliza">{currentMonthDateTime -> ficti:format.strftime(format:"%B")}</span> {year}</h4>
		</div>
            <div class="seleccionar_datos">

                <f:form id="quicksearch" method="get" action="calendar">
				<fieldset>
				<div class="wrapper_fila">
						<legend>
								<f:translate key="seeOtherMonth">Ver otro mes</f:translate>:
						</legend>
					<div class="wrapper-opcion">
					    <label for="form_filtrarmes" class="accesibilidad">
								<f:translate key="selectMonth">
									Seleccione mes:
								</f:translate>
								
							</label>
					    <f:form.select id="form_filtrarmes" name="filterMonth" 
										   options="{lookupService.filterMonth}" 
										   optionLabelField="name" optionValueField="uid" 
										   value="{filtersService.filterMonth}" />
					</div>
					<div class="wrapper-opcion">
					    <label for="form_filtrarano" class="accesibilidad">
								<f:translate key="selectYear">
									Seleccione a&ntilde;o:
								</f:translate>
							</label>
					    <f:form.select id="form_filtrarano" name="filterYear" 
										   options="{lookupService.filterYear}" 
										   optionLabelField="name" optionValueField="uid" 
										   value="{filtersService.filterYear}" />
					</div>
					<div class="wrapper-opcion">
					    <label for="form_ordenarpor_submit">
								<f:form.submit id="form_ordenarpor_submit" value="{f:translate(key:'update')}" />
							</label>
					</div>
				</div>

				</fieldset>
                </f:form>
            </div>             

            <div class="avanzar_mes">
				<div class="botoncolorido"><div class="enlace"><f:link.action action="calendar" arguments="{filterYear : nextYear, filterMonth : nextMonth}" 
							   title="{f:translate(key:'goNextMonth')}">
					{f:translate(key:'goNextMonth')}&nbsp;&raquo;
				</f:link.action></div></div>
			</div>
        </div>
    </div>
    
    
    
    
    <div class="wrapper_csc">
        <div class="calendario">
            <f:for each="{calendarArray}" as="calendarWeek">
                <div class="wrapper_semana">   
                    <f:for each="{calendarWeek}" as="calendarDay">
                        
                        
                        
                        <div class="wrapper_dia {f:if(condition: '{calendarDay.notThisMonth}', then: 'inactivo', else: 'activo')} 
							 {f:if(condition: '{calendarDay.content}', then: 'conevento')} 
							 {f:if(condition: '{calendarDay.today}', then: 'hoy')}">
                            <div class="numerodia">
								<h4>
									<span class="accesibilidad">
										<f:translate key="eventsFromDay">
											Eventos del d&iacute;a
										</f:translate>
										&nbsp;
									</span>
									{calendarDay.day}
								</h4>
							</div>
                            <f:for each="{calendarDay.content}" as="dayContent">
                                <div class="evento">
                                    <f:if condition="{dayContent.keywords}">
                                        <div class="tags_evento">
                                            <ul class="tags">
                                                <f:for each="{dayContent.keywords}" as="keyword">
                                                    <li class="grisclaro">
                                                        <f:link.action action="list" arguments="{filterKeyword : keyword}" 
																	   pageUid="{settings.listPid}">
                                                            <span>{keyword.name}</span>
                                                        </f:link.action>
                                                    </li>
                                                </f:for>
                                            </ul>  
                                        </div>
                                    </f:if>                                     
                                    <div class="titular_evento">
                                        <h5>
                                            <f:link.action action="show" arguments="{content : dayContent}" pageUid="{settings.singlePid}">
                                                {dayContent.name}
                                            </f:link.action>
                                        </h5>
                                    </div>
                                    
                                    <div class="texto_evento">
										<p class="bodytext">
											{dayContent.subtitle -> f:format.nl2br()}
										</p>
									</div>
                                </div>                                                                           
                            </f:for>                              

                        </div> 
                    </f:for>
                </div>
            </f:for>
        </div>
    </div>

</f:section>
