{namespace ficti=Tx_Ictiextbase_ViewHelpers}
<f:layout name="Default" />



<f:section name="main">
    
    <f:if condition="{contents}">
        <f:then>
            
            <f:if condition="{settings.hidePager}">
                <f:then>
                    <ficti:widget.paginate objects="{contents}" as="paginatedContents" configuration="{itemsPerPage:settings.itemsPerPage, insertAbove:0, insertBelow:0}">
                        <f:render section="listItems" arguments="{paginatedContents:paginatedContents}"/>
                    </ficti:widget.paginate>   
                </f:then>
                <f:else>
                    <ficti:widget.paginate objects="{contents}" as="paginatedContents" configuration="{itemsPerPage:settings.itemsPerPage, insertAbove:0, insertBelow:1}">
                        <f:render section="listItems" arguments="{paginatedContents:paginatedContents}"/>
                    </ficti:widget.paginate>                       
                </f:else>
            </f:if>
                
        </f:then>
        <f:else>
            <p><f:translate key="noContentFound">Sorry, no content were found.</f:translate></p>
        </f:else>
    </f:if>  
</f:section>



<f:section name="listItems">
    <div class="listados list">
        <f:for each="{paginatedContents}" as="content">
			<div class="item">
				<div class="wrapper-imagen-textos">
					<f:if condition="{content.frontImage}">
						<div class="imagen">
							<f:image src="{content.frontImage.mediaUri}" width="90" height="90c" alt="{content.name}" />
						</div>
					</f:if>      
					<div class="textos">
						<h4>
							<f:link.action action="show" arguments="{content : content}" pageUid="{settings.singlePid}">
								{content.name}
							</f:link.action> 					
						</h4>
						<p class="fecha">
							{content.startDate -> ficti:format.strftime(format:"{f:translate(key:'dateFormatLong')}")}
						</p>
						<div class="etiquetas">
							<f:if condition="{content.keywords}">
								<div class="tag_group">
									<p class="group_name"><f:translate key="Keywords">Keywords</f:translate>:</p>
									<ul class="tags">
										<f:for each="{content.keywords}" as="keyword">
											<li>
												<f:link.action action="list" arguments="{filterKeyword : keyword}">
													<span>{keyword.name}</span>
												</f:link.action>
											</li>
										</f:for>
									</ul>                    

								</div>	
							</f:if>		

						</div>
						<p>
							{content.short -> f:format.nl2br()}
						</p>

					</div>
				</div>
			</div>          
        </f:for>
    </div>     
</f:section>


