<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.


If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Content</h1>

<f:flashMessages />

<table  class="tx_icticontent" >
	<tr>
		<th><f:translate key="tx_icticontent_domain_model_content.name" /></th>
		<th><f:translate key="tx_icticontent_domain_model_content.content_type" /></th>
		<th><f:translate key="tx_icticontent_domain_model_content.short" /></th>
		<th><f:translate key="tx_icticontent_domain_model_content.description" /></th>
		<th><f:translate key="tx_icticontent_domain_model_content.front_image" /></th>
		<th><f:translate key="tx_icticontent_domain_model_content.images" /></th>
		<th><f:translate key="tx_icticontent_domain_model_content.start_date" /></th>
		<th><f:translate key="tx_icticontent_domain_model_content.end_date" /></th>
		<th><f:translate key="tx_icticontent_domain_model_content.city" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{contents}" as="content">
		<tr>
			<td><f:link.action action="show" arguments="{content : content}"> {content.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{content : content}"> {content.contentType}</f:link.action></td>
			<td><f:link.action action="show" arguments="{content : content}"> {content.short}</f:link.action></td>
			<td><f:link.action action="show" arguments="{content : content}"> {content.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{content : content}"> {content.frontImage}</f:link.action></td>
			<td><f:link.action action="show" arguments="{content : content}"> {content.images}</f:link.action></td>
			<td><f:link.action action="show" arguments="{content : content}"> {content.startDate -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{content : content}"> {content.endDate -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{content : content}"> {content.city}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{content : content}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{content : content}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Content</f:link.action>
</f:section>